.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/

.gradle/
build/
target/

mods/
.DS_Store

snapshot.js
snapshots

*.log
upload

db/

# NPM dependencies
node_modules/
node/

# Bower dependencies
bower_components/

# logs
npm-debug.log

# build files
dist/
.tmp/
.vscode/tasks.json

# Examples
**/output/*.js
.env
